/* src/pages/Login.module.css */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
  }
  
  .loginForm {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .loginForm h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .loginForm input {
    margin-bottom: 20px;
  }
  
  .loginForm button {
    width: 100%;
  }
.error {
  color: #dc3545;
  margin-bottom: 20px;
  font-size: 14px;
}