/* src/components/Header.module.css */
.header {
  background-color: #007bff;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navList a:hover {
  color: #cce6ff;
}

.userSection {
  display: flex;
  align-items: center;
}

.authLinks {
  display: flex;
  gap: 10px;
}

.loginButton,
.registerButton {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.loginButton:hover,
.registerButton:hover {
  background-color: #004080;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userEmail {
  font-size: 16px;
  font-weight: bold;
}

.logoutButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #c82333;
}